{% extends 'core/base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col">

        <h2>Update Movimento Rotativo: {{ movimento }}</h2>

        <form action="{% url 'rotativo_update' movimento.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden"  value="{{user.id}}" name="user">

            {{ form|bootstrap  }}

            <button type="submit" class="btn btn-primary">Atualizar</button>
            
        </form>

        <br>
        <form action="{% url 'mov_rotativo_delete' movimento.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden"  value="{{user.id}}" name="user">
            
            <button style="width: 100px" type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
    


{% endblock %} 